.new-car-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

input {
  margin-bottom: 16px;
}

button {
  margin-top: 16px;
}